# --- APP NAME ------------------------------------------------

# Redirect to the trailing slash version of the URL
location = /app_name {
    return 301 /app_name/;
}

# Route root requests to the Sinatra app
location = /app_name/ {
    try_files /__force_sinatra__ @app_name;
}

# Serve static assets from the public directory via nginx, if they exist
location ~ ^/app_name(?<asset_path>/.*)$ {
    try_files /app_name/public$asset_path @app_name;
}

# Route all other requests to the Sinatra app
location @app_name {
    rewrite ^/app_name(/.*)$ $1 break;

    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Script-Name /app_name;
    proxy_redirect off;

    proxy_pass http://unix:$document_root/app_name/tmp/sockets/puma.sock;
}
