[Unit]
Description=app_name
After=syslog.target network.target
# Requires=redis-server.service
# After=redis-server.service
# After=mysqld.service
# Requires=mysqld.service

[Service]
Type=forking
User=app_name
SyslogIdentifier=app_name
WorkingDirectory=/var/www/app_name
PIDFile=/var/www/app_name/tmp/pids/unicorn.pid
# Environment="REDIS_URL=redis://localhost:6379/0"
# Environment="DATABASE_URL=sqlite://db/app_name.db"
ExecStart=/bin/bash -l -c 'bundle exec unicorn -D -c /var/www/app_name/config/unicorn.rb -E production'
Restart=always
TimeoutSec=10

[Install]
WantedBy=multi-user.target
